Server/DataServices/ExchangeServices/AsduMessageStatus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XmlMessageStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Status"/>
        <xs:element name="Error">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Code"/>
              <xs:element type="xs:string" name="Message"/>
              <xs:element type="xs:string" name="LogRecordId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>